<%include header%>
<ul class="breadcrumb">
        <li><a href="/admin/index">米读后台</a></li>
        <li><a href="#">系统管理</a></li>
        <li class="active">添加管理员</li>
    </ul>
    <div class="container text-center" style="min-height:500px; margin-top:30px">
	<span class="err" style=" font-size: 30px;">ERROR:</span>
    <span class="error" style=" font-size: 30px;"><%=errText%></span>
    </div>
<%include footer%>
