<%include header%>
<!-- 导航 -->
<ul class="breadcrumb">
    <li><a href="/admin/index">米读后台</a></li>
    <li><a href="#">系统管理</a></li>
    <li class="active">添加管理员</li>
</ul>
<!-- 导航end -->
<div class="itemAdd">
    <div class="title">添加管理员</div>
    <form action="/admin/linkInsert" method="post">
      <div class="input-group">
        <span class="input-group-addon">友情名称</span>
        <input type="text" class="form-control" name="name">
      </div>

      <div class="input-group">
        <span class="input-group-addon">友情地址</span>
        <input type="text" class="form-control" name="yurl">
      </div>

      <div style="margin-top:20px;">
        <input type="submit" class="btn btn-success" value="提交" >
      </div>

    </form> 

	</div>
<%include footer%>